     </div>
    </div>
    </div>
    <div class="row">
      <style>
      .lead {line-height:2em;}
      .lead i {font-size:175%; vertical-align: middle; color:#18f;}
      </style>
      <div class="col-md-10 col-md-push-2">
        <h3>Follow us here:</h3>
        <p class="lead">
        <i class="icon-twitter"></i> <a href="https://twitter.com/18f">Twitter @18F</a><br/><i class="icon-twitter"></i> <a href="https://twitter.com/DCLegalHackers">Twitter @DCLegalHackers</a><br/>
        <i class="icon-github2"></i> <a href="https://github.com/18f/hackathons/a11yhack">GitHub / 18F / hackathons / a11yhack</a><br/>
        <i class="icon-github2"></i> <a href="https://github.com/18f/accessibility">GitHub / 18F / accessibility</a><br/>
        </p>
      </div>
    </div>
  </div>
<!-- Google Analytics -->
    <script>
     <!-- Put your personalized analytics script here -->
    </script>
  </body>
</html>
